<div class="container">
    <h2>Register</h2>
    <form [formGroup]="form" (ngSubmit)="signUp()">
        <label for="firstname">Nombre:</label>
        <input type="text"  placeholder="Firstname" formControlName="firstname">
        
        <label for="lastname">Apellido:</label>
        <input type="text" placeholder="Lastname" formControlName="lastname">

        <label for="email">Email:</label>
        <input type="email" placeholder="Email" formControlName="email">

        <label for="dni">DNI:</label>
        <input type="text" placeholder="DNI" formControlName="dni">


        <label for="password">Password:</label>
        <input type="password" placeholder="Password" formControlName="password">

        <!-- <label for="confirm-password">Confirm Password:</label>
        <input type="password" placeholder="confirm-password" formControlName="confirm-password"> -->

        <p><a href="auth/login">Already have an account? Log in</a></p>

        <div class="button-container">
            <button type="submit" mat-raised-button [disabled]="!form.valid">Register</button>
        </div>
    </form>
</div>