<div class="container">
    <h2>Register</h2>
    <form>
        <label for="email">Nombre:</label>
        <input type="text" id="name" name="name">
        
        <label for="lastname">Apellido:</label>
        <input type="text" id="lastname" name="lastname">

        <label for="email">Email:</label>
        <input type="email" id="email" name="email">

        <label for="dni">DNI:</label>
        <input type="number" id="dni" name="dni">


        <label for="password">Password:</label>
        <input type="password" id="password" name="password">

        <label for="confirm-password">Confirm Password:</label>
        <input type="password" id="confirm-password" name="confirm-password">

        <p><a href="auth/login">Already have an account? Log in</a></p>
        <div class="button-container">
            <button type="submit">Register</button>
        </div>
    </form>
</div>