<div class="container">
    <h2>Recarga mediante tarjeta</h2>
    <form>
      <label for="code">Código de la tarjeta del tren:</label>
      <input type="code" id="code" name="code">

      <label for="paymentMethod">Método de pago</label>
      <input type="paymentMethod" id="paymentMethod" name="paymentMethod">

      <label for="cardHolder">Nombre:</label>
      <input type="cardHolder" id="cardHolder" name="cardHolder">

      <label for="cardNumber">Número de tarjeta:</label>
      <input type="cardNumber" id="cardNumber" name="cardNumber">

      <label for="expirationDate">Fecha de expiración de tarjeta:</label>
      <input type="expirationDate" id="expirationDate" name="expirationDate">

      <label for="cvv">CVV:</label>
      <input type="cvv" id="cvv" name="cvv">

      <label for="amount">Monto de recarga:</label>
      <input type="amount" id="amount" name="amount">

      <div class="button-container">
        <button type="submit">Pagar</button>
        <button routerLink="..">Cancelar</button>
      </div>
    </form>
  </div>