/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #57c86e;
  --secondary-color: #6c757d;
  --ternary-color: #333333;
  --background-color: #f8f9fa;
  --font-family: Arial, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.303);
  border-radius: 8px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}
.button-container {
  display: flex;
  justify-content: space-around; /* Center the button horizontally */
  align-items: center; /* Center the button vertically */
}

label {
  display: block;
  margin-top: 10px;
}
input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
